@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stolen template for user CRUD operations</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Crud</h2>
        <p>
            This page is a simple edit of the standard template that is generated for ASP.NET sites from bootstrap, 
            and this application does simple CRUD operations on users. This site calls an API to do the actual crud operations. 
        </p>
        <ul>
            <li>
                I have not prepared the API to work properly outside of being used by this front end. 
            </li>
            <li>
                I have not done a great deal of styling on the front end, relying on bootstrap templates for simple things.
            </li>
            <li>
                The api implements code first migrations, so you need to run those first.
            </li>
        </ul>
        <p><a href="@Url.Action("UserList", "User")" class="btn btn-primary btn-lg">List Contacts &raquo;</a></p>
    </div>
</div>