@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stolen template for user CRUD operations</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Crud</h2>
        <p>
            This page is a blatant edit of the standard template that is generated for ASP.NET sites, however 
            I am ok with that, and this application does simple CRUD operations on users. This site interfaces 
            with an API to do the actual business logic. 
        </p>
    </div>
</div>